<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  
  <welcome-file-list>
  <welcome-file>home2.jsp</welcome-file>
  
  </welcome-file-list>
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>www.pack.com.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>first</servlet-name>
  <url-pattern>/web</url-pattern>
  
  </servlet-mapping>
  <servlet>
  <servlet-name>second</servlet-name>
  <servlet-class>www.pack.com.gric.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>second</servlet-name>
  <url-pattern>/webapp</url-pattern>
  
  </servlet-mapping>
  <servlet>
  <servlet-name>register</servlet-name>
  <servlet-class>www.myservlet.com.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>register</servlet-name>
  <url-pattern>/RegisterServlet</url-pattern>
  
   </servlet-mapping>
 <!--   <servlet>
  <servlet-name>sussess</servlet-name>
  <servlet-class>www.success.com.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>sussess</servlet-name>
  <url-pattern>/success</url-pattern>
  
  </servlet-mapping> -->
</web-app>
